#article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;


    .card {
        margin: 1rem;
        padding: 1.5rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
        max-width: 300px;
        position: relative;

        .editBtn {
            position: absolute;
            top: -20px;
            left: 261px;
            background: transparent;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }

        .editBtn:hover,
        .editBtn:focus,
        .editBtn:active {
            background: #f1f1f1;
            box-shadow: none;
            outline: none;
        }

        .img {
            width: 100%;
            height: 100px;
        }
    }

    .card:hover,
    .card:focus,
    .card:active {
        color: #0070f3;
        border-color: #0070f3;
    }

    .card {
        h3 {
            margin: 0 0 1rem 0;
            font-size: 1.5rem;
            color: #000;
        }

        p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5;
            color: #000;
        }
    }


    .logo {
        height: 1em;
        margin-left: 0.5rem;
    }

    @media (max-width: 600px) {
        .grid {
            width: 100%;
            flex-direction: column;
        }
    }

}

#articleDark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;


    .card {
        position: relative;
        margin: 1rem;
        padding: 1.5rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
        max-width: 300px;

        .editBtn {
            position: absolute;
            top: -20px;
            left: 261px;
            background: transparent;
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }


        .editBtn:hover,
        .editBtn:focus,
        .editBtn:active {
            background: #1f1f1f;
            outline: none;
            box-shadow: none;
        }
    }

    .card:hover,
    .card:focus,
    .card:active {
        color: #0070f3;
        border-color: #0070f3;
    }

    .card {
        h3 {
            margin: 0 0 1rem 0;
            font-size: 1.5rem;
            color: #fff;
        }

        p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5;
            color: #fff;
        }
    }


    .logo {
        height: 1em;
        margin-left: 0.5rem;
    }

    @media (max-width: 600px) {
        .grid {
            width: 100%;
            flex-direction: column;
        }
    }

}

#cac {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    #createArticle {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 800px;

        .createBtn {
            margin-top: 10px;
            background: transparent;
            border: 1px solid black;
            color: black;
            border-radius: 0;
        }
    }
}