.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;

    .title {
        margin: 0;
        line-height: 1.15;
        font-size: 4rem;

        .description {
            text-align: center;
        }

        a, span {
            color: #0070f3;
            text-decoration: none;
        }

        a:focus, a:active, a:hover {
            text-decoration: underline;
        }
    }

    .description {
        line-height: 1.5;
        font-size: 1.5rem;
    }
}