.navbar {
    height: 50px;
    padding: 40px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            a {
                margin: 5px 15px;
            }
        }

        .toggleMode {
            color: white;
            background: transparent;
            border: none;
            cursor: pointer;

            .img {
                width: 28px;
                height: 28px;
            }
        }
    }
}
